.page-header
  %h2.order-placing-header
#order-form-loader.cssload-container
  .cssload-speeding-wheel

= form_tag orders_path, method: :post, remote: true, id: "order-form" do
  = hidden_field_tag "order[user_id]", current_user.id
  #menu-list

  .row.showg-grid
    .col-md-12
      %h4.text-right
        Total: 
        %strong.order-total
          0
  %hr
  = submit_tag "Submit", class: "btn btn-info"