:plain
  $('#{@menu[:html_container]}').html("#{j render partial: 'dishes/menu', locals: {selectable: @menu[:selectable]}}");
  $('.error-explaination').html("#{j render partial: 'shared/alert_messages'}");